.conteudo {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.historia {
    width: 50vw;
}

h1 {
    margin-block: 2rem;
}

p {
    text-align: justify;
    line-height: 1.5;
    margin-block: 1rem;
}

a {
    color: var(--cor-texto);
    transition: all .5s ease;
}

a:hover {
    color: var(--cor-principal-clara);
}

.citacao {
    width: 100%;
    margin-block: 2rem;
}
