header {
    background-color: white;
    padding-bottom: 3.5rem;
}

.conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80vw;
    height: 100%;
    gap: 2rem;
    margin: 0 auto;
}

h1 {
    font-size: 40pt;
    letter-spacing: .05em;
    text-transform: uppercase;
}

iframe {
    width: 100%;
    height: 70vh;
    border-radius: 15px;
    box-shadow: 15px 15px 20px 0 #bdbcbc; 
}

.swiper {
    width: 100%;
}

.swiper-slide {
    max-width: 300px;
    height: 270px;
    cursor: pointer;
    background-color: #f2f2f2;
    padding: 1rem;
    border-radius: 5px;
}

.swiper-slide:hover .img-video {
    filter: brightness(.5);
    transform: scale(1.1);
} 

.swiper-slide:hover .imagem-video::before {
    content: '▶';
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 70pt;
    z-index: 2;
}

.swiper-slide:hover .titulo-video {
    color: var(--cor-principal-clara);
}

.swiper-slide:hover .lanc-video {
    color: var(--cor-principal);
}

.imagem-video {
    width: 100%;
    overflow: hidden;
}

.img-video {
    width: 100%;
    border-radius: 5px;
    transition: all .5s ease;
}

.info-video {
    padding-top: 10px;
    width: 100%;
}

.titulo-video {
    padding-right: 75px;
    font-size: 10pt;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all .3s ease;
}

.lanc-video {
    font-size: 8pt;
    color: #484848;
    margin-block: 7px;
    transition: all .3s ease;
}

#controles {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 14px;
    margin-top: 2rem;
}

#controles li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#controles li i {
    font-size: 2rem;
}
